
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --black-main: #0d0d0d;
  --black-light: #1a1a1a;
  --red-dark: #7a0000;
  --red-main: #b30000;
  --red-light: #ff1a1a;
  --text-light: #f2f2f2;
  --text-gray: #b3b3b3;
}


body {
  font-family: 'Inter', sans-serif;
  background-color: var(--black-main);
  color: var(--text-light);
  line-height: 1.6;
}


.navbar {
  background-color: var(--black-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  border-bottom: 2px solid var(--red-dark);
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: var(--red-light);
}

/* MENU */
.nav-links {
  display: flex;
}

.nav-links a {
  text-decoration: none;
  color: var(--text-light);
  margin-left: 25px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--red-light);
}


.hero {
  text-align: center;
  padding: 120px 20px;
  background: linear-gradient(to right, #000000, #1a0000);
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 20px;
  color: var(--red-light);
}

.hero p {
  color: var(--text-gray);
  font-size: 18px;
}


.section {
  padding: 80px 10%;
}

.section h2 {
  color: var(--red-main);
  margin-bottom: 20px;
  font-size: 28px;
  border-left: 4px solid var(--red-dark);
  padding-left: 12px;
}

.section p {
  margin-bottom: 15px;
  color: var(--text-gray);
}

.section ul,
.section ol {
  margin-left: 20px;
  margin-top: 10px;
}

.section li {
  margin-bottom: 10px;
}


.btn {
  display: inline-block;
  margin-top: 25px;
  padding: 12px 30px;
  background-color: var(--red-main);
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--red-light);
}


.code-box {
  background-color: #111;
  padding: 20px;
  border-left: 4px solid var(--red-dark);
  border-radius: 6px;
  overflow-x: auto;
  margin-top: 20px;
  font-family: monospace;
  color: #ff4d4d;
}


.media-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.media-grid img {
  width: 100%;
  border-radius: 10px;
  border: 2px solid var(--red-dark);
  transition: 0.3s;
}

.media-grid img:hover {
  transform: scale(1.05);
  border-color: var(--red-light);
}


footer {
  background-color: var(--black-light);
  text-align: center;
  padding: 20px;
  border-top: 2px solid var(--red-dark);
  color: var(--text-gray);
  margin-top: 60px;
}


@media (max-width: 768px) {

  .navbar {
    flex-direction: column;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 15px;
  }

  .nav-links a {
    margin: 10px 0;
  }

  .hero h1 {
    font-size: 30px;
  }

  .section {
    padding: 50px 5%;
  }
}